@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Host Grotesk';
  src: url('/admin/fonts/HostGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Host Grotesk';
  src: url('/admin/fonts/HostGrotesk-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Host Grotesk';
  src: url('/admin/fonts/HostGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Host Grotesk';
  src: url('/admin/fonts/HostGrotesk-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-off-white text-off-black antialiased;
  }

  ::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
  }
  ::-webkit-scrollbar-track {
    @apply bg-beige;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-brown/40 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-brown/60;
  }
}
